<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-12">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About the Spoon Wizard
                  </h5>
                </div>

                <p class="lead">
When beginning to exist (a few hours after his parents felt fruity one February
evening in Hampshire 1974) Graham decided he was already where he wanted to be
for the rest of his existence. Just under a year later, after an unpleasant
experience involving a modicum of rubber and being pushed through a small
aperture, his sex was determined and the label
"<a href="http://www.behindthename.com/cgi-bin/search.cgi?terms=graham&nmd=n&gender=m&operator=or" target="_blank">Graham</a>"
was assigned.
                </p>
                <p class="lead">
Experimenting with music and computers from an early age he had found his niche
and progressed from there, getting involved with dance music in the early
1990’s. Around the age of fifteen, Graham - by now a keen and progressive nerd -
introduced himself to the
<a href="http://www.amiga.com/" target="_blank">Commodore Amiga</a> brand of
home computer. His two main
interests (music and computers) were now able to be combined and he produced
music that was not only deeply personally satisfying, but highly embarrassing.
                </p>
                <p class="lead">
After being introduced to a talented collection of other Amiga enthusiasts, he
was asked to join them in their group named "LSD" to produce quality free
productions for other users around the world to view. As an alias was customary
in computer circles, he chose to be referred to as "Echo" and went on to produce
music for many group productions, including a highly acclaimed production called
"<a href="http://www.youtube.com/watch?v=qjjzRoBogOg" target="_blank">Jesus On E's</a>".
                </p>
                <p class="lead">
Since then he has played with lasers, built some PC's, polished the odd plane,
dabbled in the world of soporifics and consumed a rather alarming amount of
toast. Although not a native of Grantham in Lincolnshire, a considerable amount
of time and puberty was spent there lusting after girls and writing music on
computers. He also brushed his teeth, but not as often as he should have.
                </p>
                <p class="lead">
Graham now works in Exeter for
<a href="https://www.nexusos.co.uk/" target="_blank">Nexus Open Systems</a>,
fighting hard to stay afloat
in the unending torrent of work. Specialising in virtualisation, networking,
technical pre-sales, solution design and Microsoft systems, Graham Still finds
some time to work on his other projects too.
                </p>
                <p class="lead">
This existence is also shared with wife Charlotte in sunny Exeter, UK, where he
enjoys a regular mug of coffee and his two children, Elliot and Lola.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End About Section -->