<section id="mods" class="pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Mods
          </h3>
          <p class="subtitle-a">
            Presented below is an archive of all the mods Graham (Echo/LSD) has
            ever written. 
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="box-shadow-full">
        <div class="row">
          <div class="card-columns">
            <div class="card">
              <div class="card-header">» 1987 <a name="1987"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Khaos.mod">Khaos</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Domino_Dancing_Dub.mod">Domino Dancing Dub</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Evil_Genius.mod">Evil Genius</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Feet_In_The_Light.mod">Feet In The Light</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Channel_Zero.mod">Channel Zero</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Master_Of_Masters.mod">Master Of Masters</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Astaroth.mod">Astaroth</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Camakarzie_Run.mod">Camakarzie Run</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1988 <a name="1988"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Cool_As_A_Bad_Word.mod">Cool As A Bad Word</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Eternal_Bliss.mod">Eternal Bliss</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Bloody_Damn_Turtles.mod">Bloody Damn Turtles</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Unfriendly_Parents.mod">Unfriendly Parents</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Visual_Contact.mod">Visual Contact</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Straight_To_Hell.mod">Straight To Hell</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/You_Are_Not_A_God.mod">You Are Not A God</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1989 <a name="1989"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Any_Way_You_Can.mod">Any Way You Can</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Funky_World.mod">Funky World</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/R-T-M.mod">R-T-M</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Slyness_Is_Cool.mod">Slyness Is Cool</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/The_One_And_Only.mod">The One And Only</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Troubles_Caused.mod">Troubles Caused</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Wait_For_It.mod">Wait For It </a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/Zatafact.mod">Zatafact</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/first_not_last.mod">First Not Last</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1987-1989/ten_pints_of_fish.mod">Ten Pints of Fish</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1990 <a name="1990"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Approvements.mod">Approvements</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Chip_Called_Hamlet.mod">Chip Called Hamlet</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Chunky_Vibes.mod">Chunky Vibes</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Coke_Is_Back.mod">Coke Is Back</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Crockett's_Chip.mod">Crockett's Chip</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Undecided_Mood.mod">Undecided Mood</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Enigmatic_Feelings.mod">Enigmatic Feelings</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/I_Am_The_Law.mod">I Am The Law</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/It_Starts_Like_This.mod">It Starts Like This</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Like_Yeah_Man.mod">Like Yeah Man</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Must_Have_Been_Love.mod">Must Have Been Love</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/One_Way.mod">One Way</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Pianater_2.mod">Pianater 2</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Psychopathic_Realm.mod">Psychopathic Realm</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Return_Of_The_Judge.mod">Return Of The Judge</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/kall_a_taksi.mod">Call a Taksi</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1991 <a name="1991"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Astaroth_Chip_Mix.mod">Astaroth Chip Mix</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Big_Honda_10cc_Mix.mod">Big Honda 10cc Mix</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Decided_Mood.mod">Decided Mood</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Digital_Millenium.mod">Digital Millenium</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Dusty_Bottle.mod">Dusty Bottle</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Embassy_Number_One.mod">Embassy Number One</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Funky_Life.mod">Funky Life</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Hey_You-Floyd.mod">Hey You-Floyd</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/I_Hate_House.mod">I Hate House</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Just_Plain_Fun.mod">Just Plain Fun</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Mythological.mod">Mythological</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Pandemonium.mod">Pandemonium</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Pneumatic+Dreams_01.mod">Pneumatic+Dreams 01</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Rent_Day.mod">Rent Day</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Suspected_Stereo.mod">Suspected Stereo</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/The_Light_Beyond.mod">The Light Beyond</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Wot_No_Amiga.mod">Wot No Amiga</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/bass_that_qwo.mod">Bass That Qwo</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/beacon_out_far.mod">Beacon Out Far</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/just_add_lsd.mod">Just Add LSD</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/stryx_mix.mod">Stryx Mix</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/uncool_breeze.mod">Uncool Breeze</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1992 <a name="1992"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Crap-Kiddies_Mix.mod">Crap-Kiddies Mix</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Digital_Party_Tune.mod">Digital Party Tune</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Ethnicurdle.mod">Ethnicurdle</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Exhilur8.mod">Exhilur8</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Fluffy_Clouds.mod">Fluffy Clouds</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Immunisation.mod">Immunisation</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Implantation.mod">Implantation</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Mantippirave.mod">Mantippirave</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Mellow_Roll-GVine.mod">Mellow Roll-GVine</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Midi_Track_1.mod">Midi Track 1</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Moonlight.mod">Moonlight</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Quinoline_Yellow.mod">Quinoline Yellow</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Sanxion_Rave_Mix.mod">Sanxion Rave Mix</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Slide_And_End_It.mod">Slide And End It</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Spacious.mod">Spacious</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Tired_Of_Sleeping.mod">Tired Of Sleeping</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/Theoretical-GVine12.mod">Theoretical-GVine12</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/another_day.mod">Another Day</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos01.mod">Total Kaos #01</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos02.mod">Total Kaos #02</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos03.mod">Total Kaos #03</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos04.mod">Total Kaos #04</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos05.mod">Total Kaos #05</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos06.mod">Total Kaos #06</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos07.mod">Total Kaos #07</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos08.mod">Total Kaos #08</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos09.mod">Total Kaos #09</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos10.mod">Total Kaos #10</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1990-1992/total-kaos11.mod">Total Kaos #11</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1993 <a name="1993"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES00.mod">Jesus on E's #00</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES01.mod">Jesus on E's #01</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES02.mod">Jesus on E's #02</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES03.mod">Jesus on E's #03</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES04.mod">Jesus on E's #04</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES05.mod">Jesus on E's #05</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES06.mod">Jesus on E's #06</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES07.mod">Jesus on E's #07</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES08.mod">Jesus on E's #08</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES09.mod">Jesus on E's #09</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES10.mod">Jesus on E's #10</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES11.mod">Jesus on E's #11</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES12.mod">Jesus on E's #12</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/JOES13.mod">Jesus on E's #13</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Joes_end.mod">Jesus on E's Ending</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Cliffhanger_Themes.mod">Cliffhanger Themes</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Pathways_Trainer.mod">Pathways Trainer</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/The_Orb_Number_4.mod">The Orb #4</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Tubular_Bells_GV13.mod">Tubular Bells GV13</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Nemoralis.mod">Nemoralis</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/the_orb_2.mod">The Orb #2</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1994 <a name="1994"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Exterminate-Smooth.mod">Exterminate-Smooth</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Baby_Eater.mod">Baby Eater</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Chaotic_Dawn.mod">Chaotic Dawn</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Majestic_Remix-Orb.mod">Majestic Remix-Orb</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Cheese_Hazzard.mod">Cheese Hazzard</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Crystal_Kaos.mod">Crystal Kaos</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Cybernet.mod">Cybernet</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/acidic_aftertaste.mod">Acidic Aftertaste</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/satan_on_speed_01.mod">Satan On Speed #01</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/satan_on_speed_02.mod">Satan On Speed #02</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/satan_on_speed_03.mod">Satan On Speed #03</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/satan_on_speed_04.mod">Satan On Speed #04</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/tester.mod">Tester</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1995 <a name="1995"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Dave%5D.mod">Dave</a></li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Deep_Lard_Seven.mod">Deep Lard Seven</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Lard_(Tripping).mod">Lard (Tripping)</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/Pants_&amp;_Trousers.mod">Pants &amp; Trousers</a> </li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1993-1995/cybernet-bigmix.mod">Cybernet Big Mix</a></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1996 <a name="1996"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/7spoons.xm">7 Spoons of intoxication</a> (FastTracker)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/Damn_swa.med">Damn Swanky Swamp Donkey</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/My_stomp.med">My Stomping Kipper</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/Dssdonk.xm">Damn Swanky Swamp Donkey</a> (Original FastTracker version)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/Hard_sco.med">Hard Scoop</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/Spongy_t.med">Spongy Temple</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/The_sate.med">The Sated Plimsole</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/The_seve.med">The Seven Spoons of Intoxication</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/Whisk.med">Whisk</a> (Med mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1996/Hrdscoop.xm">Hard Scoop</a> (FastTracker)</span></li>
              </ul>
            </div>
            <div class="card">
              <div class="card-header">» 1997 <a name="1997"></a></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_mfrk16.xm">Morphine Fork No. 7</a> (FastTracker 16-Bit Samples)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_llwfb.lha">Lower Lip Weird Fasion Beard</a> (Octamed mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_mfrk7.lha">Morphine Fork No. 7</a> (Octamed mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_spcr.lha">The Spoon Circle</a> (Octamed mod)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_spcr8.xm">The Spoon Circle</a> (FastTracker 8-Bit Samples)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_hhsd8.xm">Damn Swanky Swamp Donkey</a> (FastTracker 8-Bit Samples Revised second half)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/Llwfb.xm">Lower Lip Weird Fashion Beard</a> (FastTracker)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_spcr16.xm">The Spoon Circle</a> (FastTracker 16-Bit Samples)</li>
                <li class="list-group-item"><a href="/assets/downloads/mods/1997/E_hhsd16.xm">Damn Swanky Swamp Donkey</a> (FastTracker 16-Bit Samples Revised second half)</span></li>
              </ul>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</section>
