---
layout: layouts/base.njk
section: 404
---

<div id="404" class="intro route bg-image" style="background-image: url(/assets/img/intro-bg.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-4">404</h1>
        <p class="intro-subtitle">Page Not Found</p>
      </div>
    </div>
  </div>
</div>

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-12">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Typical Spoon™ application usage
                  </h5>
                </div>
                {{ layoutContent | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


