---
layout: layouts/base.njk
section: home
---

{% include "components/intro.njk" %}

<main id="main">

  {% include "components/soundcloud-originals.njk" %}
  {% include "components/soundcloud-remixes.njk" %}
  {% include "components/interview.njk" %}
  {% include "components/about.njk" %}
  {% include "components/contact.njk" %}

</main>


